#form-login{
    width: 100%;
}

#login-new-account-switch{
    margin-top: 20px;
    margin-bottom: 5px;
    height: 20px;
    width: 50px;
}

#login-new-account-switch:checked{
    background-color: limegreen;
    border-color: limegreen;
}